body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 700px;
}

.intro img {
    max-width: 80vw;
    height: auto;
}

.intro {
    position: relative;
    text-align: center;
    color: white;
    /* max-height: 520px;
    max-width: 380px; */
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.intro h1 {
    position: absolute;
    bottom: 0px;
}

.header div {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.logo{
    max-width: 30px;
    height: 30px;
}

.background {
    background-color: rgb(6, 147, 179);
    height: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
}

.content {
    position: absolute;
    top: 50px;
}

.work h1 {
    text-align: center;
}

.card-box {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box h2 {
    color: white;
    font-size: 36px;
    text-align: center;
}

.card-container {
    padding: 15px;
}

.project-description div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description {
    background-color: #ede4e4;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 12px;
}

#color1 {
    background-color: #5566d4;
}

#color2 {
    background-color: #cc5e5e;
}

#color3 {
    background-color: #a551e0;
}

#color4 {
    background-color: #4ea64e;
}

#color5 {
    background-color: #53c2c2;
}

#color6 {
    background-color: #db5682;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.contact {
    background-color: rgb(6, 147, 179);
    color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-bottom: 0px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-content h1, .contact-content h2 {
    font-weight: normal;
}

.contact-content h1 {
    text-align: center;
}

.contact #sea {
    width: 100vw;
    height: auto;
}

@media (min-width: 500px) {

    .intro img {
        max-height: 30vh;
        width: auto;
    }

    .content {
        display: flex;
        padding: 20px;
        top: 25%;
        gap: 8px;
    }
    
    .background {
        clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
        height: 50vh;
    }

    .description {
        z-index: 1;
        position: absolute;
        background-color: #d5dbe3;
        left: 100%;
        width: 60vw;
    }

    .description h2 {
        font-size: 36px;
        
    }

    .description p {
        font-size: 32px;
        padding-left: 1rem;
        text-align: left;
    }

    .links {
        display: none;
    }

    .intro {
        bottom: 10rem;
        left: 4rem;
        z-index: 2;
    }

    #first {
        width: 55vw;
        padding-left: 3.25rem;
    }

    #second {
        padding-top: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 12px;
    }

    .work h1 {
        text-align: left;
        font-size: 36px;
        padding-left: 2rem;
    }
}